<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sticky-footer.css') }}">
       
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/gridstack.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/gridstack-extra.css') }}">  

        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
  

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
         <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
        <script type= "text/javascript" src= "{{ url_for('static',filename='js/gridstack.js') }}"></script>
        <script type= "text/javascript" src= "{{ url_for('static',filename='js/gridstack.jQueryUI.js') }}"></script>

        <style type="text/css">
            .grid-stack-item-content {
                color: #00050f;
                text-align: center;
                background-color: #b2c1e0;
            }
        </style> 
    </head>
    <body>		
