{% include 'header.html' %}
<div class='col-md-5 well' style="min-height: 100%;">
    {% include 'plan.html' %} 
</div>

<textarea id='speakText' style="display:none;">{{ script }}</textarea>

<div class='col-md-7'>
    <div class='col-md-12' style="padding-top:10px;">
        <div class="panel panel-primary">
            {% include 'goal.html' %}
        </div>
    </div>
    <div class='col-md-12' style="padding-bottom:10px;">  
        {% include 'map.html' %}
    </div>
   
    <div class='col-md-12'>
        {% include 'resource.html' %}
    </div>
    
</div>     

{% include 'helpModals.html' %}
{% include 'footer.html' %}
