    <div>
        <div class='col-md-9'>
            <select class="form-control" id="actionToAdd">
            {% for act in actions %}
                    <option>{{act}}</option>
            {% endfor %}
            </select>
        </div>
        <button type="button" class="col-md-3 btn btn-primary addAction">Add</button>
        
        <br>
        <br>
        <button type="button" class="btn btn-block btn-info validatePlan">Validate</button>
        <button type="button" class="btn-block btn btn-info suggestPlan">Suggest</button>
    </div>
    <br>
    <div class="grid-stack"></div>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function () {
            $('.addAction').click(function() {
                var action = $('#actionToAdd').val();
                console.log(action);
                updateData(action);
            });

            $('.validatePlan').click(function() {
                var res = _.map( $('.grid-stack > .grid-stack-item:visible'), function(el) {
                    el = $(el)
                    var node = el.data('_gridstack_node');
                    return {
                        name : node.el[0]['innerText'],
                        x : node.x,
                        y : node.y,
                        width : node.width,
                        height: node.height
                    };
                });
                observations = JSON.stringify(res);
                $.ajax({
                    url: '/validatePlan',
                    data: observations,
                    type: 'POST',
                    success: function(response) {
                        alert('Planner might take a few minutes';
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            // thanks to http://stackoverflow.com/a/22885503
            var waitForFinalEvent=function(){var b={};return function(c,d,a){a||(a="I am a banana!");b[a]&&clearTimeout(b[a]);b[a]=setTimeout(c,d)}}();
            var fullDateString = new Date();
            function isBreakpoint(alias) {
                return $('.device-' + alias).is(':visible');
            }
            var options = {
                float: false
            };
            $('.grid-stack').gridstack(options);
            function resizeGrid() {
                var grid = $('.grid-stack').data('gridstack');
                if (isBreakpoint('xs')) {
                    $('#grid-size').text('One column mode');
                } else if (isBreakpoint('sm')) {
                    grid.setGridWidth(3);
                    $('#grid-size').text(3);
                } else if (isBreakpoint('md')) {
                    grid.setGridWidth(6);
                    $('#grid-size').text(6);
                } else if (isBreakpoint('lg')) {
                    grid.setGridWidth(12);
                    $('#grid-size').text(12);
                }
            };
            $(window).resize(function () {
                waitForFinalEvent(function() {
                    resizeGrid();
                }, 300, fullDateString.getTime());
            });
            
            // call backend to get serialized data
            serializedData = [
                {% set count = 1 %}
                {% for key, value in plan.iteritems() %}
                    {y: {{ key }}, x: 0, width: 12, height: 1, name:'{{ value }}'},
                    {% set count = count + 1 %}
                {% endfor %}
            ];
            
            function updateData(action) {
                serializedData.push({y:1, x:0, width:12, height: 1, name:action});
                loadGrid();
                resizeGrid();
            };
            
            grid = $('.grid-stack').data('gridstack');
            loadGrid = function () {
                grid.removeAll();
                var items = GridStackUI.Utils.sort(this.serializedData);
                _.each(items, function (node, i) {
                    grid.addWidget($('<div><div class="grid-stack-item-content">' + node.name + '</div></div>'),
                    node.x, node.y, node.width, node.height);
                });
                return false;
            };
            
            loadGrid();
            resizeGrid();
            
        });
    </script>
