    <div>
        <div class='col-md-9'>
            <select class="form-control" id="actionToAdd">
            {% for act in actions %}
                    <option>{{act}}</option>
            {% endfor %}
            </select>
        </div>
        <button type="button" class="col-md-3 btn btn-primary addAction">Add</button>
        
        <br>
        <br>
        <button type="button" class="btn btn-block btn-info validatePlan">Validate</button>
        <button type="button" class="btn-block btn btn-info suggestPlan">Suggest</button>
    </div>
    <br>
    <div class="grid-stack"></div>
    <script type="text/javascript">
        $.extend(
        {
            redirectPost: function(location, args)
            {
                var form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", location);

                $.each( args, function( key, value ) {
                    var field = $('<input></input>');

                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);

                    form.append(field);
                });
                $(form).appendTo('body').submit();
            }
        });
    
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function () {
            $('.addAction').click(function() {
                var action = $('#actionToAdd').val();
                console.log(action);
                updateData(action);
            });
            
            $('[data-toggle="tooltip"]').tooltip();

            getGridStackData = function() {
                var res = _.map( $('.grid-stack > .grid-stack-item:visible'), function(el) {
                    el = $(el)
                    var node = el.data('_gridstack_node');
                    return {
                        name : node.el[0]['innerText'],
                        x : node.x,
                        y : node.y,
                        width : node.width,
                        height: node.height
                    };
                });
                return res;
            }

            $('.validatePlan').click(function() {
                res = getGridStackData();
                $.redirectPost('validate', {'plan': JSON.stringify(res)});
            });

            $('.suggestPlan').click(function() {
                res = getGridStackData();
                $.redirectPost('suggest', {'plan': JSON.stringify(res)});
            });

            // thanks to http://stackoverflow.com/a/22885503
            var waitForFinalEvent=function(){var b={};return function(c,d,a){a||(a="I am a banana!");b[a]&&clearTimeout(b[a]);b[a]=setTimeout(c,d)}}();
            var fullDateString = new Date();
            function isBreakpoint(alias) {
                return $('.device-' + alias).is(':visible');
            }
            var options = {
                float: false
            };
            $('.grid-stack').gridstack(options);
            function resizeGrid() {
                var grid = $('.grid-stack').data('gridstack');
                if (isBreakpoint('xs')) {
                    $('#grid-size').text('One column mode');
                } else if (isBreakpoint('sm')) {
                    grid.setGridWidth(3);
                    $('#grid-size').text(3);
                } else if (isBreakpoint('md')) {
                    grid.setGridWidth(6);
                    $('#grid-size').text(6);
                } else if (isBreakpoint('lg')) {
                    grid.setGridWidth(12);
                    $('#grid-size').text(12);
                }
            };
            $(window).resize(function () {
                waitForFinalEvent(function() {
                    resizeGrid();
                }, 300, fullDateString.getTime());
            });
            
            // call backend to get serialized data
            serializedData = [
                {% set count = 1 %}
                {% for key, value in plan.iteritems() %}
                    {y: {{ key }}, x: 0, width: 12, height: 1, name:'{{ value }}'},
                    {% set count = count + 1 %}
                {% endfor %}
            ];
            
            function updateData(action) {
                serializedData.push({y:0, x:0, width:12, height: 1, name:action});
                loadGrid();
                resizeGrid();
            };
            
            grid = $('.grid-stack').data('gridstack');
            loadGrid = function () {
                grid.removeAll();
                var items = GridStackUI.Utils.sort(this.serializedData);
                _.each(items, function (node, i) {
                    if (node.name.includes(';--')) {
                        action_name = node.name.substr(0, node.name.indexOf(';'));
                        grid.addWidget($('<div><div class="grid-stack-item-content" id="myWidget'+ node.y + '" style="background-color:#f9fbe7;border-radius: 6px;border: 1px solid black;border-color:#9e9d24;"><div class="glyphicon glyphicon-remove fa-remove' + node.y + '"></div><br>' + action_name + '</div></div>'),
                        node.x, node.y, node.width, node.height);
                    } else if  (node.name.includes(';')) {
                        action_name = node.name.substr(0, node.name.indexOf(';'));
                        reason = node.name.substr(node.name.indexOf(';'), node.name.length);
                        grid.addWidget($('<div><div class="grid-stack-item-content" id="myWidget'+ node.y + '" style="background-color:#ffcdd2;border-radius: 6px;border: 1px solid black;border-color:#b71c1c;"><div class="glyphicon glyphicon-remove fa-remove' + node.y + '"></div><br><span href="#" data-toggle="tooltip" data-placement="right" title="'+ reason +'">' + action_name + '</span></div>'),
                        node.x, node.y, node.width, node.height);
                    } else {
                        grid.addWidget($('<div><div class="grid-stack-item-content" id="myWidget'+ node.y + '" style="background-color:#64ffda;border-radius: 6px;border: 1px solid black;border-color:#00695c;"><div class="glyphicon glyphicon-remove fa-remove' + node.y + '"></div><br>' + node.name + '</div></div>'),
                        node.x, node.y, node.width, node.height);
                    } 
                    $('.fa-remove' + node.y).click( remove_w = function(myElement){
                        grid.removeWidget($(this).parent().parent());
                    });
                });
                return false;
            };
            
            loadGrid();
            resizeGrid();
            
        });
    </script>
